<div class="system-body" style="clear: both">
  <div style="margin-top: -1%">
    <label for="selectedBack">Товар для возврата</label>
    <br>
    <select [(ngModel)]="selectedForBack" (change)="onChange($event.target.value)" style="width: 16.5%" name="" id="selectedBack">
      <option disabled value="0">Выберите товар для возврата</option>
      <option *ngFor="let product of products" value="{{product.Id}}">{{product.Name}}</option>
    </select>
    <br>
    <label for="prod-count">Кол-во:</label>
    <input (keyup)="onChangeInput($event)" [(ngModel)]="countForBack" size="25" placeholder="кол-во заменяемого товара" id="prod-count" style="margin: 15px 0 0 10px" type="text">
  </div>

  <div class="arrow"></div>
  <div style="margin: -3.8% 0 0 24%">
    <label for="selectedBacked">Замена на</label>
    <br>
    <select disabled [(ngModel)]="selectedBacked" name="" id="selectedBacked" style="width: 21.1%">
      <option *ngFor="let product of products" value="{{product.Id}}">{{product.Name}}</option>
    </select>
    <br>
    <label for="back-count">Кол-во:</label>
    <input disabled [(ngModel)]="countBacked" size="25" placeholder="кол-во замененного товара" id="back-count" style="margin: 15px 0 0 10px" type="text">
  </div>
  <div style="margin-top: 15px">
    <label for="input-date-replacement">Дата замены:</label>
    <input [(ngModel)]="dateReplacement" type="date" class="input-date" id="input-date-replacement">
  </div>
  <button [disabled]="checkInput()" (click)="send()" class="btn btn-submit btn-muted">Заменить</button>
  <div>
    <a class="btn btn-muted" data-toggle="collapse" href="#collapseBlock">Оформить подарок</a>
    <div class="collapse" id="collapseBlock">
      <hr>
      <div>
        <label for="reasonGift">Причина подарка: </label>
        <br>
        <select [(ngModel)]="giftReasonSelected" style="margin-bottom: 15px" id="reasonGift">
          <option disabled value="0">Выберите причину подарка</option>
          <option *ngFor="let giftReason of giftReasons" value="{{giftReason.Id}}">{{giftReason.Description}}</option>
        </select>
        <br>
        <label for="selectedGift">Подарочный товар: </label>
        <br>
        <select [(ngModel)]="giftSelected" id="selectedGift">
          <option disabled value="0">Выберите подарок</option>
          <option *ngFor="let product of products" value="{{product.Id}}">{{product.Name}}</option>
        </select>
        <br>
        <label for="gift-count">Кол-во:</label>
        <input [(ngModel)]="giftCount" (keyup)="onChangeInputGiftCount($event)" size="25" placeholder="кол-во подарочного товара" id="gift-count" style="margin: 15px 0 0 10px">
        <div style="margin-top: 15px">
          <label for="input-date-gift">Дата подарка:</label>
          <input [(ngModel)]="dateGift" type="date" class="input-date" id="input-date-gift">
        </div>
        <div class="btn-submit-gift">
          <button [disabled]="checkInputGift()" (click)="sendGift()" class="btn btn-hover btn-muted">Подарить</button>
        </div>
      </div>
    </div>
  </div>
</div>
