.system-body{
  padding: 1% 0px 0px 2%;
  width: 2000px;
}

.arrow {
  position: relative;
  margin: -2% 0px 0px 18%;
}
.arrow:before,
.arrow:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 13px solid transparent;
  border-right: 0;
}
.arrow:nth-child(2) {
  width: 50px;
  height: 5px;
  background: #737373;
}
.arrow:nth-child(2):after {
  top: -11px;
  right: -13px;
  border-left-color: #737373;
}

.btn-submit{
  margin: 2% 0 0 17% ;
}

.btn-submit-gift{
  margin: 2% 0 0 17% ;
}

.btn-hover:hover{
  background: #f4f4f4;
}

.btn-submit:hover{
  background: #f4f4f4;
}

.input-date{
  border: solid 1px #afafaf;
  margin-left: 10px;
  padding-left: 5px;
}
