<div class="auth-block">
  <div class="auth-header">
    Авторизация
  </div>
  <hr>
  <form (ngSubmit)="onSubmit()">
    <div class="auth-body">
      <label for="auth-login" class="auth-label">Логин:</label>
      <input [(ngModel)]="user.name" [ngModelOptions]="{standalone: true}" type="text" placeholder="Логин" name="username" id="auth-login" class="auth-input" style="margin-left: 28px">
      <br>
      <label for="auth-password" class="auth-label">Пароль:</label>
      <input [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" type="password" placeholder="Пароль" id="auth-password" style="margin-left: 18px">
      <br>
      <label for="auth-store" class="auth-label">Магазин: </label>
      <select [(ngModel)]="user.store" [ngModelOptions]="{standalone: true}" id="auth-store" style="margin-left: 10px; width:176px">
        <option disabled value="0">Выберите магазин</option>
        <option *ngFor="let store of stores" value="{{store.Id}}">{{store.Name}}</option>
      </select>
    </div>
    <hr>
    <div class="auth-footer">
      <button [disabled]="checkLogin()" type="submit" class="btn btn-muted auth-btn">Войти</button>
    </div>
  </form>
</div>
