.auth-block{
  border: 1px solid black;
  border-radius: 20px;
  width: 450px;
  margin-left: 39%;
  margin-top: 15%;
}

.auth-header{
  text-align: center;
  font-size: 20px;
  padding-top: 5%;
}

.auth-label{
  margin-left: 50px;
}

.auth-btn{
  margin-left: 39%;
  margin-bottom: 5%;
  border-radius: 50px;
}
