<div class="system-header">
  <div class="logo">
    <span class="logo-title">IQOS</span>
    <span class="logo-sub">Система возврата</span>
    <span class="profile-welcome">
                Здравствуйте, {{userName}}
                <br>
                <a (click)="logout()" [routerLink]="'../login'" class="link-exit">Выход</a>
            </span>
  </div>
</div>
