.system-header{
  padding-top: 10px;
  padding-bottom: 5px;
}

.logo-title{
  font-size: 30px;
  margin-left: 20px;
}

.logo-sub{
  color: #7a7a7a;
  font-size: 11px;
}

.profile-welcome{
  margin-top: 5px;
  margin-right: 20px;
  float: right;
}
